.container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 560px;
  margin: 0 auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-square {
  /* width: 40px; 
  height: 40px;  */
  border: 1px solid #000;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}