.container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  width: 560px;
  height: 560px;
  margin: 0 auto;
  /* border: 40px solid rgba(255, 0, 0, 0.685); */
  border-top: 40px;
  border-bottom: 80px;
  border-right: 40px;
  border-left: 40px;
  border-color: red;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: gray;
}

.grid-row {
  display: flex;
  background-color: white;
}

.grid-square {
  border: 1px solid #000;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.button-container button {
  font-size: larger;
  margin: auto 10px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.highlighted {
  background-color: #1812b5;
  color: white;
}
